html,body {
    margin:0;
    padding:0;
    height:  97%;

}

@font-face {
    font-family: 'VerlagBold';
    font-style: bold;
    font-weight: 400;
    src: local('Verlag'), url('https://fonts.cdnfonts.com/s/38686/VerlagBold.woff') format('woff');
}
@font-face {
    font-family: 'PeterQ';
    font-style: normal;
    font-weight: 325;
    src: local('Verlag'), url('https://fonts.cdnfonts.com/s/101086/KeeshyaSellaras-qZgBx.woff') format('woff');
}
@font-face {
    font-family: 'Eurof';
    font-style: normal;
    font-weight: 250;
    src: local('Verlag'), url('https://fonts.cdnfonts.com/s/8583/eurof56.woff') format('woff');
}
@font-face {
	font-family:  'Manrope';
	font-style: normal;
	src: url('Manrope-ExtraLight.woff') format('woff');
}

@font-face {
	font-family:'Butler';
	font-style: normal;
	src: url('https://fonts.cdnfonts.com/s/16241/Butler_Light.woff') format('woff');
}
@font-face {
	font-family:'BulterBold';
	font-style: bold;
	src: url('https://fonts.cdnfonts.com/s/16241/Butler_Bold.woff') format('woff');
}

a {
	color: white;
	text-decoration: none;
}

a span {
	color: #af4f53;
}

a span:hover{
	color: pink;
}

a:hover	{
	color: #af4f53;
}

.header {
	font-size: 3vw;
  background-color: #1d453c;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: relative;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #1d453c;
}

.header li a {
  display: block;
  padding: 10px 10px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 5vw;
  text-decoration: none;
}

 .logo-image{
 	float: left;
  	padding: 18px 25px;
  	position: relative;
  	border-radius: 50%;
    overflow: hidden;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

body {
	text-align: left; 
	padding: 0;
	font-family: Eurof;
	font-size: 1.50vw;
	margin-top: 0px;
	margin-left: 0;
	margin-right: 0;
}

h1 {
	line-height: 110%;
	text-align: left; 
	font-size: 7vw; 
	position: relative; 
	margin-top: 0px; 
	margin-left: 180px;
	font-family: PeterQ;
}
h2 {
	line-height: 100%;
	margin-right: 15vw;
	color: #1d453c;
	text-decoration: underline;
	margin-bottom: -2px;
	text-align: left; 
	font-size: 2.5vw; 
	position: relative; 
	margin-top: 0px; 
	margin-left: 75px;
	font-family: ButlerBold;
}
h3 {
	line-height: 110%;
	margin-right: 15vw;
	color: #1d453c;
	text-align: left; 
	font-size: 1.8vw; 
	position: relative;
	margin-top: 0px; 
	margin-left: 75px;
	font-family: Butler;

}
ul {
	text-align:left;
	margin-left: 5vw;
	font-family: Manrope;
	list-style-type: none;
	padding: 0px;	
	margin-right: 10vw; 
	line-height: 110%;
}

mark span {
	color:  white; 
	background-color: #7f7f7f; 
	font-family: VerlagBook; 
	text-align: left;
}


@media screen and (min-width: 48em) {

	.header {
		font-size: 2.2vw;
		font-family: Manrope;

	}
  .header li {
  		display: inline-block;
  }
  .header li a {
    padding: 10px 20px;
  }
  .header .menu {
  	text-align: center;
    clear: none;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

   .logo-image{
display:none;
}

}



@media screen and (max-width: 576px){


	img{
		width: 70%;
	}
	iframe {
		margin-top: -70px;
		margin-left: -15vw;
  		transform: scale(0.55, 0.55);
  		height: 100vw;
  		width: 120vw;
		transform-origin:center;
		}
	body{
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		background-image:  none;
		margin: 0px;
		font-family: Eurof;
	}
	ul{
		font-family: manrope;
		line-height: 100%;
		padding: 0;
		margin-left: 0px;
		margin-right: 0px;
    	list-style-type: none;
		text-align: center;
		font-size: 5.5vw;
		top: 0px;
		left:  1px;
		right: 1px;
		line-height: 120%;
	}
	h1{
		margin-left: 0px;
		margin-top: 0px;
		left: 0px;
		padding: 0;
		line-height: 100%;
		font-size: 20vw;
		text-align: center;
		font-family: PeterQ;
	}
	h2 {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	line-height: 100%;
	color: #1d453c;
	text-align: center; 
	font-size: 5.5vw; 
	}
		h3 {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	line-height: 110%;
	color: #1d453c;
	text-align: center; 
	font-size: 4vw; 
	}
	background-image { display: none; }
	    }
}
